<h1>Edit User</h1>

<!-- <form action="/users/7" method="put"> -->
<%= form_tag user_path(@user.id), :method => "put" do %>
    <input type="text" name="name" placeholder="Name" value="<%= @user.name %>">
    <input type="text" name="email" placeholder="Email" value="<%= @user.email %>">
    <input type="password" name="password" placeholder="Password">

    <input type="submit">
<% end %>