<h1>All Users</h1>

<a href="<%= new_user_path %>">New User</a>

<hr>

<% User.all.each do |user| %>
    <p><a href="<%= user_path(user.id) %>"><%= user.name %></a></p>
    <!-- Generates something like this: -->
    <!-- <p><a href="/posts/5">Foo Bar</a></p> -->
    <hr>
<% end %>